#iish-donations-main-form fieldset {
    margin-bottom: 20px;
}

#iish-donations-main-form legend {
    font-weight: bold;
    text-decoration: underline;
}

#iish-donations-main-form input[type=submit] {
    margin-left: 10px;
    margin-right: 10px;
}

#iish-donations-main-form .date-padding {
    padding: 0;
}

#edit-gender div {
    display: inline-block;
}

div.iish-donations-prev-next {
    font-weight: bold;
    text-align: center;
}

table.iish-donations-table tr.iish-donations-click:hover {
    cursor: pointer;
}

table.iish-donations-table tr.iish-donations-toggle,
table.iish-donations-table tr.iish-donations-toggle td {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

table.iish-donations-table tr.iish-donations-totals td {
    background-color: transparent;
    font-weight: bold;
}

table.iish-donations-table tr.iish-donations-totals td:first-child {
    text-align: right;
}

div.iish-donations-toggle-div {
    clear: both;
}

div.iish-donations-data-column {
    float: left;
    width: 40%;
    padding: 10px;
}

div.iish-donations-payment-status {
    display: inline-block;
}

span.iish-donations-payed {
    color: green;
    font-weight: bold;
}

span.iish-donations-not-payed {
    color: red;
    font-weight: bold;
}

button.iish-donations-confirm-payed {
    margin-left: 10px;
}